

.text h1{
    font-weight: 900;
    font-size: 50px;
    color: #1778F2
}

.text p{
    font-weight: 600;
    color: gray;
    font-size: 17px;
}


.inputField{
    width: 100%;
    margin: 10px 0;
    height: 50px;
    font-size: 16px;
    border: none;
    background: #ebeef1;
    cursor: pointer;
    outline: none;
    padding: 15px;
    border-radius: 50px;
    box-shadow: inset 10px 10px 10px -1px rgba(43, 107, 160, 0.15),
                inset -10px -10px 10px -1px rgba(255, 255, 255, .1)
}

.loginBtn, .registrationBtn{
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px 0;
    border-radius: 50px;
    box-shadow:  10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70)
}

.button{
    margin-top: 10px;
    
}