.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 2rem 1rem;
    margin: 7rem 3rem 7rem 3rem;
}